body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    margin-top: 0;
  }
  
  @import "blocks/header/header.css";
  @import "blocks/hero/hero.css";
  @import "blocks/product-card/product-card.css";
  @import "blocks/form/form.css";
  
  section {
      padding: 50px 20px;
  }
  